<div>
  <p>Hello <%= @name %>!<p>
  <p>
    Somebody requested a password reset for your account.
  </p>
  <p>
    <a href="<%= @url %>" style="color: black;">Reset password</a>
  </p>
  <p>
    If you didn't request this, please ignore this mail.
  </p>
  <p>
    Your password won't be changed, as long as you don't use the above link.
  </p>
</div>
